@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Great+Vibes&display=swap');

:root {
	--main-font-family: 'Fjalla One', sans-serif;
	--secondary-font-family: 'Great Vibes', cursive;
}

* {
	font-family: var(--secondary-font-family);
	box-sizing: border-box;
	color: #FAFAFA;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--main-font-family);
	text-transform: capitalize;
	color: #191919;
}